<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn CubeScript</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #6b6b6b;
        }

        h1 {
            color: #ffffff;
        }

        p {
            color: #ffffff;
        }

        .function {
            margin: 20px 0;
            border: 1px solid #ccc;
            padding: 10px;
        }

        code {
            background-color: #f4f4f4;
            padding: 2px 4px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 10px 0; /* Add margin for spacing */
            display: block; /* Ensure code blocks don't overlap */
            /* text wrapping */
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */

        }
    </style>
</head>
<body>
    <h1>Welcome to the learning section</h1>

    <p>at the moment, this part isnt finished yet.</p>
    <a href="/learn/functions">this though is finished</a><p>so please go ^here^</p>
</body>
</html>