---
import Internet from "../../components/vue/internet.vue";
import Update from "../../components/react/Update.jsx";
const styles = {
  h1: "my-5 text-center text-3xl text-white font-bold",
  div: "flex flex-col gap-y-5 w-full items-center text-white mb-4"
}
const patchnotesUrl =
  "https://raw.githubusercontent.com/OpenStudioCorp/CubeScript/master/api/update.json";
const fetchUpdates = await fetch(patchnotesUrl);
const updatesData = await fetchUpdates.json();
---

<div class="windows-container">
  <div class="sidebar">
    <select name="cat" set:text="cat">
      <option value="">Select a library</option>
      <option value="article1">Home</option>
      <option value="article2">Internet</option>
    </select>

  </div>

  <div class="content">
    <div class="article" x-data="{ selectedArticle: '' }">
      <template x-if="selectedArticle === 'article1'">
        <h2>Article 1</h2>
        <p>This is the content of Article 1.</p>
      </template>
      <template x-if="selectedArticle === 'article2'">
        <h1 class={styles.h1}>Patchnotes</h1>
    <div class={styles.div}>
      {
        updatesData.map((update) => (
            <Update update={update} client:load/>
        ))
      }
    </div>
      </template>

    </div>
  </div>
</div>

<style>
  .windows-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .sidebar {
    width: 200px;
    background-color: #0078d7;
    color: rgb(0, 0, 0);
    padding: 20px;
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  .article {
    border: 1px solid #0078d7;
    padding: 20px;
    background-color: rgb(79, 0, 143);
    color: aliceblue;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
        const selectBox = document.querySelector('select[name="cat"]');
        const outputDiv = document.querySelector('.article');

        selectBox.addEventListener('change', function() {
            const selectedOption = selectBox.value;
            outputDiv.innerHTML = '';

            if (selectedOption === 'article1') {
                outputDiv.innerHTML = `
                    <h2>Article 1</h2>
                    <p>This is the content of Article 1.</p>
                `;
            } else if (selectedOption === 'article2') {
                outputDiv.innerHTML = `
                    <h2>Article 2</h2>
                    <p>This is the content of Article 2.</p>
                `;
            } else if (selectedOption === 'article3') {
                outputDiv.innerHTML = `
                    <h2>Article 3</h2>
                    <p>This is the content of Article 3.</p>
                `;
            }
        });
    });
</script>
