---
import Layout from '../layouts/Layout.astro';
---
<link rel="stylesheet" href="theme.css">
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="CubeScript">
    <meta property="og:description" content="the official API refrence infomation for CubeScript">
    <meta property="og:image" content="logo.png">
    <meta property="og:url" content="https://CubeScript.vercel.app">
    <title>getting-started</title>
</head>
<body>
    <div class="cat">

        <Layout title="Getting Started with CubeScript">
            
            <h1 style="color: white ;">Getting Started with CubeScript</h1>
            <p style="color: white ;">Welcome to the official documentation for the new CubeScript compiler and the old one!</p>
            <p style="color: white;">CubeScript takes the writing style from c#, the type checking/definitions from typescript and everything else comes from python/lua</p>
            
            <p style="color: white;">In order to start writing CubeScript, you need to download the CubeScript compiler from <a href="https://CubeScript.vercel.app/Download" style="color: rgb(2, 255, 2);">here</a></p>
            <p>there is a vs code plugin for linting/syntax highlighing and warning/error checking</p>
            <p>you can download it from the official downloads page linked at the home page of the site</p>
            <br>
            <h3 style="color: white;">Hello World, Here is some resources that can help you learn cubescript</h3>
            <br>
            <div class="windows">
                
                <h2>MacOS</h2>
                <p>version 1.0</p>
                


                <p style="color: white;">CubeScript Documentation: <a href="https://CubeScript.vercel.app/docs" style="color: rgb(2, 255, 2);">here</a></p>


    </div><div class="windows">
                
        <h2> CubeScript Examples.</h2>
       
        <p>version 1.0</p>

        <p style="color: white;">CubeScript Examples: <a href="https://CubeScript.vercel.app/examples" style="color: rgb(2, 255, 2);">here</a></p>


</div>


            
            
            
            
            
            
            
        </Layout>
    </div>
        <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div><div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
<style>
    .windows {
  background-color: #868686;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 200px;
  padding: 20px;

}
.windows a{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}
    .cat
    {
        background-color: rgba(0, 255, 221, 0.438);
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 20px;
        border-radius: 10px;
        margin: 20px;
    }
</style>
</body>
</html>