---


import Layout from "../layouts/Layout.astro"
---

<title>Download</title>
<Layout title="Download">
    

    <h1>Download</h1>

    <div class="download">

        <!-- download page that looks like the node.js installer page -->
        <p>Download the latest version of the CubeScript compiler for Windows.</p>
        <p>version 1.2</p>
        <p>The Expanse Update!</p>
        <p>This includes a .bin file within the zip file so that linux is now a supported target!!!</p>
        <p>note that linux must have dotnet installed or it wont work, to get around this install CSVM and dotnet within wine.</p>
        <p>CSVM is a standalone app that doesnt have an installer, which means it must be within your working directory where you are coding.</p>
        <p>you can visit the Tutorials section to learn how to work with the CubeScript CSVM compiler by going <a href="/tutorial/">here</a></p>
        <p>version 1.3 should fix this!</p> 
               

        
        <div class="windows">

            <h2>Windows</h2>
            <p> CubeScript for Windows.</p>
            <p>version 1.2, the Expanse Update</p>
            <a href="/Downloads/CSVM.dll">Download</a>
            
        </div>
        <div class="windows">
            
            <h2>Linux</h2>
            <p> CubeScript for Linux.</p>
            <p>version 1.2, the Expanse Update</p>
            <a href="/Downloads/CSVM.bin">Download</a>
        </div>
        <div class="windows">
            
            <h2>the Home standard libary</h2>
            <p>CubeScripts Standard libary</p>
            <p>Required to run CubeScript</p>
            <p>version 1.2, the Expanse Update</p>
            <a href="/Downloads/home.dll">Download</a>
        </div>
        <!-- 
            <div class="windows">
                
                <h2>MacOS</h2>
                <p>version 1.0</p>
                <p> CubeScript for MacOS.</p>
                <a href="https:/CubeScript.vercel.app/Downloads/CubeScript-Latest-MacOS">Download</a>
            -->

    </div>


</Layout>

<style>

.download
{
    
}

.windows {
  background-color: #868686;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 150px;
  padding: 20px;
  text-align: center;
}
.windows a{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}
*
{
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a
{
    color: lightblue;
}

p
{
    color: white;
}
h1, h2
{
    color: white;
}
</style>