---
import Layout from '../layouts/Layout.astro';
---
<link rel="stylesheet" href="theme.css">
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getting-started</title>
</head>
<body>
    <div class="cat">

        <Layout title ="getting started with CubeScript">


            <p>Nice to see New people Once in awhile!</p>
            <p>my name's charlie, and ill be teaching you how to learn Cubescript!</p>
            <p>first off, you need to know what Cubescript is.</p>
            <p>CubeScript is a Programming language that takes the concepts of CSharp, TypeScript and Python/Lua, and puts them into one language.</p>
            <p>Since it's a Transpiled programming language, The output gets converted into CSharp and then into any of the available things listed here </p>
            <br>
            <ul>

                <li>Executible</li>
                <li>WebAssembly* <p>support should be tested soon</p></li>
                <li>Class/DLL Library</li>
                <li>WPF* <p>support should be tested soon</p></li>
                <li>WinForms* <p>support should be tested soon</p></li>
                <li>ASP.NET* <p>support should be tested soon</p></li>
                <li>Blazor* <p>support should be tested soon</p></li>
                

            </ul>            
            
            
            
            
        </Layout>
    
<style>
    .windows {
  background-color: #868686;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 200px;
  padding: 20px;
  text-align: center;
}
.windows a{
    color: #fff;
    background-color: #4c00ff;
    border-color: #6f00ff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}
    .cat
    {
        background-color: rgba(42, 0, 141, 0.438);
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 20px;
        border-radius: 10px;
        margin: 20px;
    }
    h1,h2,h3,h4,h5,h6,p
    {
        color: rgb(214, 177, 255);
    }
    a
    {
        color: rgb(0, 0, 0);
        
    }
</style>
</body>
</html>