---
import Card from '../components/Card.astro';


const documentationItems = [
	{
		title: 'Getting Started',
		description: 'Learn how to get started with your JavaScript project.',
		link: '/getting-started',
	},
	{
		title: 'API Reference',
		description: 'Explore the API reference for your JavaScript project.',
		link: '/api-reference',
	},
	{
		title: 'Tutorials',
		description: 'Follow step-by-step tutorials for your JavaScript project.',
		link: '/tutorials',
	},
];
---
<script src="../components/main.js"></script>

<div class="bg-animation">
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="stars4"></div>
</div>
<body><div style="text-align: center;">

	<h1 class="cssanimation sequence leFadeInLeft">Welcome to CubeScript!</h1>
	
	<p>
		CubeScript is a Programming language based on c#, typescript and lua/python.
	</p>
	<p>
		
		You can use CubeScript to build anything from simple scripts to complex
		applications.
	</p>
	<p>
		To get started, choose a documentation section below.
	</p>
	
</div>
	<section class="documentation">
		<h1 style="text-align: center;">Documentation</h1>
		<div class="hero">
			<div class="Card">
				
				<Card
				href="/getting-started"
				title="Getting Started"
				body="Learn how to get started with CubeScript projects."
				/>
				<Card
				href="/api-reference"
				title="API Reference"
				body="Explore the API reference for CubeScript projects."
				/>
				<Card
				href="/tutorials"
				title="Tutorials"
				body="Follow step-by-s: numbertep t: numberutorials for CubeScript projects."
				/>
				<Card
				href="/learn/learn"
				title="Learn"
				body="Learn how to use CubeScript."
				/>
			</div>
		</div>
	
</section>
<div class="bg-animation">
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="stars4"></div>
</div>

<link rel="stylesheet" href="theme.css">

</body>