---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';



---
<head>
	<meta property="og:title" content="CubeScript">
    <meta property="og:description" content="the official Documetation infomation for CubeScript">
    <meta property="og:image" content="https://cubescript.vercel.app/logo.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1080">
    <meta property="og:url" content="https://CubeScript.vercel.app">
</head>
<script src="../components/main.js"></script>
<div>

	<div class="bg-animation">
		<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="stars4"></div>

</div>
<body><div style="text-align: center;">
	
	<h1 class="cssanimation sequence leFadeInLeft">Welcome to CubeScript!</h1>
	
	<p>
		CubeScript is a Programming language based on c#, typescript and lua/python.
	</p>
	<p>
		
		You can use CubeScript to build anything from simple scripts to complex
		applications.
	</p>
	<p>
		To get started, choose a documentation section below.
	</p>
	
</div>
<Layout title="Welcome to CubeScript">

	<section class="documentation">
		<h1 style="text-align: center;">Documentation</h1>
		<div class="hero">
			<div class="Card">
					<Card
					href="/getting-started"
					title="Getting Started"
					body="Learn how to get started with CubeScript projects."
					
					></Card>
					
					<Card
					href="/api-reference"
					title="API Reference"
					body="Explore the API reference for CubeScript projects."
					/>
					<Card
					href="/tutorials"
					title="Tutorials"
					body="Follow step-by-step tutorials on how to make CubeScript projects."
					/>
					<Card
					href="/learn/learn"
					title="Learn"
					body="Learn how to use CubeScript."
					/>
					<Card
					href="/Download"
					title="Download"
					body="Download the official CubeScript Compiler"
					/>
					
				</div>
			</div>
			
		</Layout>
</section>


<link rel="stylesheet" href="theme.css">

</body>