---
import Notes from '../components/Patchnotes.tsx';
import {Stuff} from '../components/Stuff.component.ts';
---

<div class="notes">
<Notes client:load />
<Stuff client:load standalone: true/>
</div>

<style>

* {
  box-sizing: border-box;
  --background: #fa;

}

.notes {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  background : var(--background);
</style>
