---
import Layout from "../layouts/Layout.astro.jsx";

import Update from "../components/react/Update.jsx";

const patchnotesUrl =
  "https://raw.githubusercontent.com/OpenStudioCorp/CubeScript/master/public/update.json";
const fetchUpdates = await fetch(patchnotesUrl);
const updatesData = await fetchUpdates.json();

const styles = {
  h1: "my-5 text-center text-3xl text-white font-bold",
  div: "flex flex-col gap-y-5 w-full items-center text-white mb-4"
}

---


  <h1 class={styles.h1}>Patchnotes</h1>
    <div class={styles.div}>
      {
        updatesData.map((update) => (
            <Update update={update} />
        ))
      }
    </div>
    p

    <style>
      body {
        background: #877895;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
</style> -->
