---
import Notes from '../components/Patchnotes.vue';
---

<div class="notes">
<Notes client:load />

</div>

<style>
:root {
  --background: #00C5FF ;
}


* {
  box-sizing: border-box;
  --background: #fa;

}

.notes {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  background : var(--background);
</style>
