
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getting-started</title>
</head>
<body>
 
<div class="cat">
    

        
    <p>Welcome to the official Documentation page on CubeScript's libaries</p>
    <p>Here you will find all the information you need to get started with CubeScript</p>
    
    <h2>How many libaries are there for CubeScript?</h2>
    <p>There is only one library made for CubeScript at the moment</p>

        
        

</div>






<style>
    .windows {
  background-color: #868686;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 200px;
  padding: 20px;
  text-align: center;
}
.windows a{
    color: #fff;
    background-color: #4c00ff;
    border-color: #6f00ff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}
    .cat
    {
        background-color: rgba(42, 0, 141, 0.438);
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 20px;
        border-radius: 10px;
        margin: 20px;
    }
    h1,h2,h3,h4,h5,h6,p
    {
        color: rgb(214, 177, 255);
    }
    a
    {
        color: rgb(0, 0, 0);
        
    }
</style>
</body>
</html>